#widget-fave-html .ssw-fave-btn {
  background: #eed5c4;
  color: #cfa998;
  border: 0;
  font-size: 14px;
  font-family: 'CRIMSON TEXT';
  border-radius: 100px;
}

#widget-fave-html .ssw-fave-btn-content {
  text-transform: uppercase;
}